**/node_modules
dist
yarn-error.log
stats.json
coverage
.idea
yarn.lock
target/
node/
/package-lock.json
/infinispan-console.iml
.DS_Store
cypress/screenshots
cypress/videos
server/infinispan-server*
nohup.out
batch
