.app-prefix--m-scroll-content {
  --pf-v6-c-table--cell--MinWidth: var(--pf-v6-c-table--m-truncate--cell--MinWidth);
  --pf-v6-c-table--cell--MaxWidth: var(--pf-v6-c-table--m-truncate--cell--MaxWidth);
  --pf-v6-c-table--cell--Overflow: auto;
  --pf-v6-c-table--cell--WhiteSpace: nowrap;
}

.pf-v6-c-file-upload {
  --pf-v6-c-file-upload__file-details__c-form-control--MinHeight: 300px;
}
