.app-prefix--m-scroll-content {
    --pf-c-table--cell--MinWidth: var(--pf-c-table--m-truncate--cell--MinWidth);
    --pf-c-table--cell--MaxWidth: var(--pf-c-table--m-truncate--cell--MaxWidth);
    --pf-c-table--cell--Overflow: auto;
    --pf-c-table--cell--WhiteSpace: nowrap;
  }
  