.app-prefix--m-scroll-content {
  --pf-v5-c-table--cell--MinWidth: var(--pf-v5-c-table--m-truncate--cell--MinWidth);
  --pf-v5-c-table--cell--MaxWidth: var(--pf-v5-c-table--m-truncate--cell--MaxWidth);
  --pf-v5-c-table--cell--Overflow: auto;
  --pf-v5-c-table--cell--WhiteSpace: nowrap;
}
