.schema-editor-section {
  display: flex;
  flex-direction: column;
}

.schema-editor-section > .pf-v6-c-page__main-body {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
}

.schema-editor-section .pf-v6-c-drawer {
  flex: 1;
  min-height: 0;
}

#schema-editor {
  height: 100%;
}

.schema-editor-section .pf-v6-c-code-editor {
  height: 100% !important;
  display: flex;
  flex-direction: column;
}

.schema-editor-section .pf-v6-c-code-editor__main {
  flex: 1;
  min-height: 0;
}
