html,
body,
#root {
  height: 100%;
  --pf-v6-chart-axis--tick-label--Fill: var(--pf-v6-c-content--Color);
  --pf-v6-chart-global--label--Fill: var(--pf-v6-c-content--Color);
}

.caches-table {
}

.status-label {
  padding-bottom: var(--pf-t--global--spacer--sm);
}

.status-icon {
  padding-left: var(--pf-t--global--spacer--md);
  padding-right: var(--pf-t--global--spacer--sm);
  padding-bottom: var(--pf-t--global--spacer--sm);
}

.alert-message.pf-v6-c-alert.pf-m-inline {
  --pf-v6-c-alert--BackgroundColor: var(--pf-t--global--background--color--primary--default);
  --pf-v6-c-alert--BorderTopWidth: 0;
  --pf-v6-c-alert--PaddingTop: 0;
}

.failed-link.pf-v6-c-button {
  --pf-v6-c-button--m-link--Color: var(--pf-t--global--icon--color--status--danger--default);
  --pf-v6-c-button--m-link--hover--Color: var(--pf-t--global--icon--color--status--danger--default);
  --pf-v6-c-button--m-link--focus--Color: var(--pf-t--global--icon--color--status--danger--default);
  --pf-v6-c-button--m-link--active--Color: var(--pf-t--global--icon--color--status--danger--default);
}

.role-table-display {
  margin-bottom: var(--pf-t--global--spacer--md);
}

.role-icon {
  margin-right: var(--pf-t--global--spacer--xs);
}
