html, body, #root {
  height: 100%;
}

.caches-table{
}

.pf-c-brand {

}
.pf-c-nav {
  /*--pf-c-nav--m-dark__item--m-current--BackgroundColor: #004B95;*/
}

.status-label {
  padding-bottom: var(--pf-global--spacer--sm);
}

.status-icon {
  padding-left:  var(--pf-global--spacer--md);
  padding-right:  var(--pf-global--spacer--sm);
  padding-bottom: var(--pf-global--spacer--sm);
}

.pf-c-dropdown__menu-item {
  cursor: pointer;
}
