.welcome-container {
  color: white;
}

.upper-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-inline: 10vw;
}

.lower-section {
  width: 100%;
  height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
  opacity: 0.6;
}

@media screen and (min-width: 740px) {
  .lower-section {
    height: 50%;
  }
}

@media screen and (min-width: 820px) {
  .lower-section {
    height: 40%;
  }
}

@media screen and (min-width: 1450px) {
  .lower-section {
    height: 30%;
  }
}

.detail-section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.description {
  color: white;
  margin: 2rem 0;
}

.version-text {
  font-weight: var(--pf-global--FontWeight--bold);
  margin: 0 0 0.2rem;
}

.card-container {
  margin-inline: 14vw;
}

@media screen and (min-width: 1650px) {
  .card-container {
    margin-inline: 18%;
  }
}

.card {
  isolation: auto !important;
  background-color: rgba(0, 0, 0, 1);
  border: 1px solid white;
}

.card::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: rgb(60 149 184 );
  bottom: 0;
  left: 0;
  transform: scaleX(0); /* Initially hidden */
  transition: transform 0.3s;
}

.card:hover {
  background-color: rgb(28, 27, 27);
/*   transform: translateY(-5px); */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.card:hover::before {
  transform: scaleX(1); /* Show the blue line on hover */
}

.card-heading {
  justify-content: center;
  font-weight: bolder;
  text-align: center;
}

.card-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

@media screen and (max-width: 740px) {
  .card-heading {
    padding-top: 2vw !important;
  }

  .card-contents {
    padding-bottom: 2vw;
  }
}
