name: Add issues to minor Project
# This GitHub Actions workflow automatically adds closed issues to the correct view in the
# top-level GitHub project for Infinispan releases. The value of the project is held in a
# GitHub organization variable.

on:
  issues:
    types:
      - closed
      # Triggers the workflow when a new issue is closed in the repository.

jobs:
  dump-github-context:
    runs-on: ubuntu-latest
    # Specifies the environment where the job will run. In this case, it uses the latest Ubuntu runner.
    steps:
      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"
    
  # Only add the issue to the project if the associated PR has been merged
  if: github.event.issue.pull_request && github.event.issue.pull_request.merged == true
  add-to-project:
    if: ${{ always() }}
    needs: [dump-github-context]    
    runs-on: ubuntu-latest
    # Specifies the environment where the job will run. In this case, it uses the latest Ubuntu runner.

    steps:
      - uses: actions/add-to-project@v1.0.2
        # Uses the `actions/add-to-project` GitHub Action to add items to a GitHub project.
        # This action simplifies the process of adding issues or pull requests to a project board.

        with:
          project-url: ${{ vars.RELEASE_PROJECT_URL }}
          # This is the URL for the '16.x' project
          # The URL of the GitHub project where the issue or pull request should be added.
          # Replace this URL with the correct project URL for your repository.

          github-token: "${{ secrets.GITHUB_TOKEN }}"
          # The GitHub personal access token (PAT) used to authenticate the action.
          # The token must have the necessary permissions to modify the specified project.
          # Store the token securely in the repository's secrets as `ADD_TO_PROJECT_PAT`.
